module.exports = {
  TEMPLATE: {
    SUBJECT: "MyFood order ",
    HEADER: "Hi,\n\nthis is today's order:\n",
    FOOTER: "\n\nThanks",
  },
  FIREBASE: "https://yourapp.firebaseio.com",
  EMAILS: {
    ORDER: "order@example.com",
    ARCHIVE: "archive@example.com"

  },
  AWS: {
    "sourceEmail": "MYSESADDRESS",
    "accessKeyId": "YOURAMAZONKEY",
    "secretAccessKey": "YOURAMAZONSECRET",
    "region": "us-east-1"
  }
}
